.dropDownSelect{
    font-size: medium;
    width: 60.5%;
    height: 4em;
    margin: 7px;
    background-color: white;
    border-style: solid;
    border-color: rgb(178, 178, 178);
    border-width: 1px;

}