.inputForm {
    
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.095);
    border-radius: 25px;
    min-width: 250px;
}

.loginError {
    color: brown;
    padding: 5px;

}

.loginErrorDiv {
    margin: 0.5em;
}

.inputLoginRegister {
    font-size: medium;
    width: 60%;
    height: 4em;
    margin: 7px;
    border-color: rgb(178, 178, 178);
    border-width: 1px;
}


.inputPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body {
    background-color: whitesmoke;
}

.buttonLoginRegister {
    font-size: 1em;
    font-weight: bold;
    width: 60%;
    height: 4em;
    margin: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}

.buttonLoginRegister:hover {

    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.Dropdown{
    width: 60%;
    height: 4em;
    margin: 5px
}


.addEsercizo h4{
    padding-left: 20%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.addEsercizo textarea{
    width: 60%;
    margin-bottom: 15px;
}