.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: hsl(261deg 80% 48%);
  color: rgba(255, 255, 255, 0.871)
}

.navbar h3 {
    font-style: bold;
  margin: 0;
  font-size: 1.5rem;
 
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;

}

.navbar a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.871);
    font-size: medium;
    padding: 15px;

}
.navbar a:visited{
    color: rgba(255, 255, 255, 0.871);
    text-decoration: none;
  color: rgba(255, 255, 255, 0.871)
}



.navbar li{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.871);
  float: left;
 
}
.logOutButton {
    display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
  justify-content: space-between;
  background-color: hsl(261, 94%, 57%);
  color: rgba(255, 255, 255, 0.871);
  border-radius: 10px;
}

.logOutButton li {
  float: left;
}

.logOutButton:hover {

    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 24, 24) 0px 7px 29px 0px;
    
}

.logOutButtonContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

