.profileContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}

.profile{
  font-size: 1.5em;
} 

.logOutButton {
    display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
  justify-content: space-between;
  background-color: hsl(261, 94%, 57%);
  color: rgba(255, 255, 255, 0.871);
  border-radius: 10px;
}

.logOutButton li {
  float: left;
}

.logOutButton:hover {

    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 24, 24) 0px 7px 29px 0px;
    
}

.logOutButtonContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}