#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  border-radius: 50px;
  background: #248d44;
  box-shadow:  10px 10px 20px #9e9a9a,
             10px 10px 20px #9e9a9a;
  padding: 30px;
}

p{
  text-align:center;
  font-weight:bold;
  font-size:20px;
}

label{
  font-size: 24px;
}

div{
  margin: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

input{
  font-size:20px;
  width:500px;
  padding:15px;
  text-align:center;
  background:white;
}

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;   
  border: 1px solid rgb(5, 150, 247);
}

.dashboard{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.home{
  display: grid;
  grid-template-columns: 0.20fr 1fr;
}

.containerecord{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgb(247, 5, 227);
}

.item{
  border: 1px solid rgb(105, 16, 36);
}